html, body {
    /*background-color: #70CF51;*/
    font-family: 'Press Start 2P', cursive;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

level {
    left:calc(44% - 497px);
    top:calc(50% - 418px);
    width:1280px; height:720px;
    background-image: url('../images/background2.jpg');
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    border:3px solid #654321;
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
}

ui {
    top:calc(78%);
    width:1280px; height:60px;
    overflow: hidden;
}
time {
    top:calc(81%);
    width:1280px; height:60px;
    overflow: hidden;
}
score {
    top:calc(84%);
    width:1280px; height:60px;
    overflow: hidden;
}

ammo {
    top:calc(87%);
    width:1280px; height:60px;
    overflow: hidden;
}

balloon {
    background-image: url('../images/balloon.gif');
    background-size: cover;
    left: 30px; top: -400px;
    width:200px; height:200px;
    /*animation: balloonup 3s linear infinite;*/
}

@keyframes balloonup {
  0% {
    transform: translateY(100vh);
  }
  
  100% {
    transform: translateY(0vh);
  }
}