@font-face {
    font-family: LostSaloon;
    src: url('../font/LostSaloon.ttf');
}

html, body {
    /*background-color: #70CF51;*/
    font-family: LostSaloon;
    overflow:hidden;
    margin:0px; padding:0px;
    background-image: url('../images/background3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

body * {
    position: absolute;
    display: block;
    margin:0px; padding:0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}


score {
    top:calc(50% - 418px);
    left:calc(50% - 497px);
    top:calc(67%);
    width:1280px; height:60px;
    z-index: 100;
}

ammo {
    top:calc(50% - 418px);
    left:calc(50% - 497px);
    top:calc(73%);
    width:1280px; height:60px;
    z-index: 100;
}

lives {
    top:calc(50% - 418px);
    left:calc(50% - 497px);
    top:calc(78%);
    width:1280px; height:60px;
    z-index: 100;
}

level {
    left:calc(44% - 497px);
    top:calc(50% - 418px);
    width:1280px; height:720px;
    background-image: url('../images/background2.jpg');
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    border:3px solid #654321;
    box-shadow: 12px 12px 0px rgba(0, 0, 0, 0.5);
}

endscreen {
    top:calc(50% - 418px);
    left:calc(50% - 497px);
    top:calc(78%);
    width:1280px; height:60px;
    z-index: 100;
}

time {
    top:calc(81%);
    width:1280px; height:60px;
    overflow: hidden;
}


balloon {
    background-image: url('../images/balloon.gif');
    background-size: cover;
    left: 30px; top: -400px;
    width:200px; height:200px;
    /*animation: balloonup 3s linear infinite;*/
}

balloonhitbox {
    border:2px solid blue;
    left: 59px;
    top: 17px;
    height: 80px; width: 80px;
}

gun {
    background-image: url('../images/gunshoot.gif');
    background-size:cover;
    
    width:200px; height:200px;
    top: calc(75%);
    left: 500px;
}

gunhitbox {
    border:2px solid red;
    left: 30px;
    height:800px; width:120px;
    margin-top:-500px;
}
